<%= form_for(@episode) do |f| %>
  <% if @episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% @episode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :recorded_at %>
    <%= f.datetime_select :recorded_at %>
  </div>
  <div class="field">
    <%= f.label :published_at %>
    <%= f.datetime_select :published_at %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :media %>
    <%= f.text_field :media %>
  </div>
  <div class="field">
    <%= f.label :media_length %>
    <%= f.number_field :media_length %>
  </div>
  <div class="field">
    <%= f.label :media_size %>
    <%= f.number_field :media_size %>
  </div>
  <div class="field">
    <%= f.label :podcast_id %>
    <%= f.collection_select(:podcast_id, Podcast.all, :id, :title) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
