<div class="episode">

  <h1><%= @episode.title %></h1>

  <% if @episode.media.present? %>
    <div id="audio-player">
      <audio controls="controls">
        <source src="<%= @episode.media %>" type="audio/mpeg">
        <source src="<%= @episode.media %>" type="audio/mp3">
        <p>Your browser does not support HTML5 audio, but you can <a href="<%= @episode.media %>">(download)</a> this episode!</p>
      </audio>
      <p><a href="<%= @episode.media %>">(download)</a></p>
    </div>
  <% end %>

  <% if @episode.body.present? %>
    <div class="episode-body">
      <%= markdown(@episode.body) %>
    </div>
  <% end %>

  <div class="episode-details">
    <%= @episode.title %><br />
    <%= link_to @episode.podcast.title, podcast_path(@episode.podcast) %><br />
    <%= @episode.podcast.author %><br />
    <%= @episode.published_at.present? ? @episode.published_at.strftime("%F") : "" %><br />
    <%= @episode.media_length.present? ? Time.at(@episode.media_length).utc.strftime("%l:%M:%S") : "" %><br />
  </div>

</div>

<% content_for :header do %>
  <h2><%= link_to Brick::SITENAME, root_path %> &gt; <%= link_to @episode.podcast.title, podcast_path(@episode.podcast) %></h2>
<% end %>