<h1>
  <%= @episode.title %>
</h1>

<div id="audio-player">
  <audio controls="controls" style="max-width:100%; max-height:100%;">
    <source src="<%= @episode.media %>" type="audio/mpeg">
    <source src="<%= @episode.media %>" type="audio/mp3">
    Your browser does not support HTML5 audio.
  </audio>
  <p><a href="<%= @episode.media %>">(download)</a></p>
</div>

<div class="episode-body">
  <%= markdown.render(@episode.body) %>
</div>

<div class="episode-details">
  <%= @episode.title %><br />
  <%= link_to @episode.podcast.title, podcast_path(@episode.podcast) %><br />
  <%= @episode.podcast.author %><br />
  <%= @episode.published_at.present? ? @episode.published_at.strftime("%F") : "" %><br />
  <%= @episode.media_length.present? ? Time.at(@episode.media_length).utc.strftime("%l:%M:%S") : "" %><br />
</div>

<% content_for :title do %>
  <%= @episode.title %> | <%= @podcast.title %>
<% end %>

<% content_for :header do %>
  <h2><%= link_to Brick::SITENAME, root_path %> &gt; <%= link_to @episode.podcast.title, podcast_path(@episode.podcast) %></h2>
<% end %>

<% content_for :social_image do %>
  <%= @episode.image %>
<% end %>

<% content_for :social_description do %>
  <%= @episode.summary %>
<% end %>