<div class="podcast-header <%= wrapper_class %>">
  <div class="inner">
    <div class="main">
      <div class="left">
        <%= cl_image_tag(podcast.image, :alt => podcast.title, :width => 220, :height => 220, :crop => :scale) %>
      </div>
      <div class="right">
        <h1 class="title"><%= link_to podcast.title, podcast_path(podcast) %></h1>
        <div class="body"><%= podcast.body %></div>
      </div>
    </div>
    <% if show_form %>
      <div class="cta highlight-link"><%= link_to "Subscribe by Email", podcast_subscribe_new_path(:podcast_path => podcast.path) %></div>
    <% end %>
  </div>
</div>
