<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="https://plus.google.com/107355867909504468216" rel="publisher">

  <meta property="og:title"       content="<%= @meta_title %>">
  <meta property="og:image"       content="<%= @meta_image %>">
  <meta property="og:site_name"   content="<%= @meta_sitename %>">
  <meta property="og:description" content="<%= @meta_description %>">
  <meta property="og:url"         content="<%= @meta_url %>">
  <meta property="fb:admins"      content="<%= @meta_fb_admins %>">
  <meta property="fb:app_id"      content="<%= @meta_fb_app_id %>">

  <meta name="twitter:card"        content="summary_large_image">
  <meta name="twitter:site"        content="<%= @meta_twitter_site %>">
  <meta name="twitter:creator"     content="<%= @meta_twitter_creator %>">
  <meta name="twitter:title"       content="<%= @meta_title %>">
  <meta name="twitter:description" content="<%= @meta_description %>">
  <meta name="twitter:image"       content="<%= @meta_image %>">
</head>
<body>

<div id="notice"><%= notice %></div>

<header class="navigation" role="banner">
  <div class="inner">
    <nav role="navigation" class="navigation">
      <a href="/" class="site-name"><%= Brick::SITENAME %><% if @podcast %> &gt; <% end %></a>
      <% if @podcast %>
        <a href="<%= podcast_path(@podcast) %>" class="podcast-name"><%= @podcast.title %></a>
      <% end %>
    </nav>

    <ul class="social">
      <li><a href="http://twitter.com/brickcaster"><i class="icon-twitter"></i></a></li>
      <li><a href="http://facebook.com/brickcaster"><i class="icon-facebook"></i></a></li>
      <li><a href="https://plus.google.com/107355867909504468216" rel="publisher"><i class="icon-google-plus"></i></a></li>
    </ul>
  </div>
</header>

<section class="social-sharing">
  <a href="https://twitter.com/intent/tweet?text=<%= u @meta_title %>&url=<%= @meta_url %>"><img src="http://s9.postimg.org/9lptzzutn/twitter.png" alt="Twitter link" /></a><a href="https://www.facebook.com/sharer/sharer.php?u=<%= @meta_url %>"><img src="http://s9.postimg.org/wboysze17/facebook.png" alt="Facebook link" /></a><a href="https://plus.google.com/share?url=<%= @meta_url %>"><img src="http://s9.postimg.org/c1n203nij/google.png" alt="Google Plus link" /></a>
</section>

<% if @podcast %>
  <section id="podcast-header">
    <%= render :partial => "podcasts/header", :locals => {:podcast => @podcast} %>
  </section>
<% end %>

<div id="content">
  <%= yield %>
</div>

<% if @podcast %>
  <div class="podcast-footer">
    <div class="inner">

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//micahredding.us4.list-manage.com/subscribe/post?u=c9e24ff2e309d9d4edb919a40&amp;id=61a457b26b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <h2>Get notified of new episodes of the Christian Transhumanist Podcast!</h2>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_c9e24ff2e309d9d4edb919a40_61a457b26b" tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->

    </div>
  </div>
<% end %>

</body>
</html>
