<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="https://plus.google.com/107355867909504468216" rel="publisher">

  <meta property="og:title" content="<%= yield :title %>">
  <meta property="og:image" content="<%= yield :social_image %>">
  <meta property="og:site_name" content="brick.media: small podcasts from the human edge">
  <meta property="og:description" content="<%= yield :social_description %>">
</head>
<body>

<div id="notice"><%= notice %></div>

<header class="navigation" role="banner">
  <div class="inner">
    <nav role="navigation" class="navigation">
      <a href="/" class="site-name"><%= Brick::SITENAME %><% if @podcast %> &gt; <% end %></a>
      <% if @podcast %>
        <a href="<%= podcast_path(@podcast) %>" class="podcast-name"><%= @podcast.title %></a>
      <% end %>
    </nav>

    <ul class="social">
      <li><a href="http://twitter.com/brickcaster"><i class="icon-twitter"></i></a></li>
      <li><a href="http://facebook.com/brickcaster"><i class="icon-facebook"></i></a></li>
      <li><a href="https://plus.google.com/107355867909504468216" rel="publisher"><i class="icon-google-plus"></i></a></li>
    </ul>
  </div>
</header>

<% if @podcast %>
  <div id="podcast">
    <div class="inner">
      <%= cl_image_tag(@podcast.image, :alt => @podcast.title, :width => 220, :height => 220) %>
      <div class="title"><%= link_to @podcast.title, podcast_path(@podcast) %></div>
      <div class="body"><%= @podcast.body %></div>
      <ul class="podcast-links">
        <li><%= link_to "RSS", podcast_url(@podcast, :format => :rss) %></li>
        <% if @podcast.itunes.present? %><li><%= link_to "Subscribe in iTunes", @podcast.itunes %></li><% end %>
        <% if @podcast.email.present?  %><li><%= link_to "Subscribe by Email", @podcast.email %></li><% end %>
      </ul>
    </div>
  </div>
<% end %>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
